* {
    padding: 0;
    margin: 0;
}

:root {
--maroon: rgb(104, 31, 31);
--rose: rgb(145, 112, 142);
--almond: blanchedalmond;
}

.section-title {
    color: var(--maroon);
    padding: 15px;
    margin-right: 10px;
    font-size: 25px;
    width: 15%;
    display: flex;
    text-align: center;
    display: inline-block;
}

.primary-border {
    border-right: 2px solid var(--maroon);
}

body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 15px 20px;
    background-color: var(--rose);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--maroon);
}

header h1 {
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
    display: flex;
}

header a {
    text-decoration: none;
    color: var(--almond);
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    padding: 15px 15px;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header nav ul li a:hover {
    background: white;
    color: rgb(52, 122, 112);
    text-shadow: none;
    border-radius: 10px;
    padding: 10px;
    opacity: .75;
}

header span {
    color: var(--maroon);
    text-shadow: none;
}

.hero {
    height: 350px;
    background-image: url("../images/peonies-trimmed.jpg");
    background-size: cover;
    background-position: left;
    position: relative;
    display: flex;
    border-bottom: 5px solid var(--maroon);
}

.aboutme-section, .mywork-section {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.aboutme-section img {
    margin: 5px;
    border-radius: 50%;
    border: 1px solid var(--maroon);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutme-section p {
    text-align: left;
    margin: 20px;
    width: 500px;
}

.mywork-section img {
    width: 200px;
    height: 55px;
    margin: 20px;
    border: none;
}

.mywork-section img:hover {
    width: 250px;
    height: 75px;
    opacity: 75%;
}

.contactinfo-section {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

footer {
    background-color: var(--rose);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: var(--almond);
    text-decoration: none;
    padding: 15px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}
footer p {
    font-weight: bold;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--almond);
}

footer a:hover {
    text-decoration: none;
    color: var(--maroon);
}

@media screen and (max-width: 850px) {
    header {
        justify-content: center;
        flex-wrap: wrap;
    }

    header h1 {
        text-align: center;
    }

    .primary-border {
        border-right:  none;
        border-bottom: 2px solid var(--maroon);
        margin: 10px;
    }

    .aboutme-section, .mywork-section, .contactinfo-section {
        flex-direction: column;
    }

    .aboutme-section h2, .mywork-section h2, .contactinfo-section h2 {
        flex: 20%;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    footer ul {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 575px) {
    .aboutme-section p {
        width: 90%;
    }
}