* {
    padding: 0;
    margin: 0;
}

:root {
--maroon: rgb(104, 31, 31);
--rose: rgb(145, 112, 142);
--almond: blanchedalmond;
}


/*.secondary-border { --- for titles on the left ---
    border-right: 2px solid var(--maroon);
    display: inline;
}*/

.section-title {
    color: var(--maroon);
    padding: 15px;
    margin-right: 10px;
    font-size: 25px;
    width: 15%;
    text-align: center;
    display: inline-block;
    /*display: flex;*/
}

.primary-border {
    border-right: 2px solid var(--maroon);
}

body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 15px 20px;
    background-color: var(--rose);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--maroon);
}

header h1 {
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
    display: flex;
}

header a {
    text-decoration: none;
    color: var(--almond);
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    padding: 15px 15px;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header nav ul li a:hover {
    background: white;
    color: rgb(52, 122, 112);
    text-shadow: none;
    border-radius: 10px;
    padding: 10px;
    opacity: .75;
}

header span {
    color: var(--maroon);
    text-shadow: none;
}

.hero {
    height: 350px;
    background-image: url("../images/peonies-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    border-bottom: 5px solid var(--maroon);
}

.myheaders {
    display: flex;
    flex-direction: column;
}

.aboutme-section {
    display: flex;
    align-items: center;
}

.aboutme-section img {
    margin: 5px;
    width: 16%;
    border-radius: 50%;
    border: 2px solid var(--maroon);
}

.aboutme-section p {
    text-align: left;
    margin: 20px;
    width: 55%;
}

.mywork-section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mywork-section img {
    width: 150px;
    border-color: var(--maroon);
    margin-top: 20px;
}

footer {
    background-color: var(--rose);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: var(--almond);
    text-decoration: none;
    padding: 15px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}
footer p {
    font-weight: bold;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: var(--almond);
}

footer a:hover {
    text-decoration: none;
    color: var(--maroon);
}