* {
    padding: 0;
    margin: 0;
}

:root {
--maroon: rgb(104, 31, 31);
--rose: rgb(145, 112, 142);
--almond: blanchedalmond;
}


/*.secondary-border { --- for titles on the left ---
    border-right: 2px solid var(--maroon);
    display: inline;
}*/

.section-title {
    color: var(--almond);
    padding: 10px;
    margin: 25px;
    font-size: 25px;
    text-align: center;
    background: var(--rose);
    /*display: flex;*/
}

.primary-border {
    border: 2px solid var(--maroon);
}

body {
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 15px 20px;
    background-color: var(--rose);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 5px solid var(--maroon);
}

header h1 {
    font-size: 40px;
    padding: ;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: left;
    display: flex;
}

header a {
    text-decoration: none;
    color: var(--almond);
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    padding: 15px 15px;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0,0,0,0.5)
}

header nav ul li a:hover {
    background: white;
    color: rgb(52, 122, 112);
    text-shadow: none;
    border-radius: 10px;
    padding: 10px;
    opacity: .75;
}

header span {
    color: var(--maroon);
    text-shadow: none;
}

.hero {
    padding: 120px;
    background-image: url("../images/peonies-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 5px solid var(--maroon);
}

.aboutme-work {
    display: block;
    width: 20%;
    float: left;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

/*.img-text {
    display: block;
    width: 70%;
    float: left;
    padding: 10px;
}

.img-text img {
    display: block;
    width: 20%;
    float: left;
    border-radius: 50%;
}

.my-sections {
    display: flex;
    padding: 15px;
}

.my-sections h2 {
    padding: 50px;
    text-align: center;
}

.about-me-section img {
    border-radius: 50%;
    text-align: left;
    padding: 10px;
}

.intro-text {
    line-height: 1.5;
    padding: 20px;
    width: 75%;*/
}

/*footer {
    background-color: rgb(145, 112, 142);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
}

footer a {
    text-decoration: none;
    color: blanchedalmond;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;*/
}